
DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
SALT_ROUND=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_FIRST_NAME=
SUPER_ADMIN_LAST_NAME=
SUPER_ADMIN_GENDER=
SUPER_ADMIN_PHONE=
SUPER_ADMIN_ADDRESS=

# Server Configuration
PORT=5000

# Email Configuration (SMTP)
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=

# Invitation Configuration
INVITATION_EXPIRY_DAYS=
FRONTEND_URL=
